@{
    ViewBag.Title = "Helpdesk";
}

<div id="angular-app">
    <app-root>Loading...</app-root>
</div>

@section scripts {
    <script src="~/Scripts/dist/runtime.js"></script>
    <script src="~/Scripts/dist/polyfills.js"></script>
    <script src="~/Scripts/dist/main.js"></script>
}
